In [1]:
import pandas as pd

# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) Joins & Pandas
Week 2 | Lesson 4.3

### LEARNING OBJECTIVES
*After this lesson, you will be able to:*
- Join data via concat
- Do left, right, inner, and outer joins

<a name="Concatenate & Join"></a>
### Introduction: Concatenate & Joins (5 mins)


## Concatenate

Concatenate means to chain together.

![](assets/images/chain.gif)

## Join 

In the context of data, join means to combine columns from separate tables or dataframes.

<img src='assets/images/vader.gif' title='Join Me, Luke!' width="600px">

<a name="Concatenate"></a>
## Demo / Guided Practice: Concatenation (12 mins)

We use concatenation to combine two different sets of instances into one table/dataframe.


<img src='assets/images/concat_tetris.png' width=600px>

In [3]:
original_trilogy = pd.DataFrame({    'title': ['Star Wars', 'The Empire Strikes Back', 'Return of the Jedi'],
                                      'year': [1977, 1980, 1983],
                                  'director': ['George Lucas', 'Irvin Kershner', 'Richard Marquand'],
                                 'producers': ['Gary Kurtz', 'Gary Kurtz', 'Howard Kazanjian'],
                                     'style': ['motion picture', 'motion picture', 'motion picture']},
                                       index=['IV', 'V', 'VI'])

prequel_trilogy  = pd.DataFrame({    'title': ['The Phantom Menace', 'Attack of the Clones', 'Revenge of the Sith'],
                                      'year': [1999, 2002, 2005],
                                  'director': ['George Lucas', 'George Lucas', 'George Lucas'],
                                 'producers': ['Rick McCallum', 'Rick McCallum', 'Rick McCallum'],
                                     'style': ['motion picture', 'motion picture', 'motion picture']},
                                       index=['I', 'II', 'III'])

sequel_trilogy   = pd.DataFrame({    'title': ['The Force Awakens'],
                                      'year': [2015],
                                 'director' : ['J.J. Abrams'],
                                 'producers': ['J.J. Abrams, Bryan Burk, Kathleen Kennedy'],
                                     'style': ['motion picture']},
                                       index=['VII'])

Concatenate:

In [4]:
dataframes = [original_trilogy, prequel_trilogy, sequel_trilogy]
star_wars_feature_films_dataframe = pd.concat(dataframes)
star_wars_feature_films_dataframe

,director,producers,style,title,year
IV,George Lucas,Gary Kurtz,motion picture,Star Wars,1977
V,Irvin Kershner,Gary Kurtz,motion picture,The Empire Strikes Back,1980
VI,Richard Marquand,Howard Kazanjian,motion picture,Return of the Jedi,1983
I,George Lucas,Rick McCallum,motion picture,The Phantom Menace,1999
II,George Lucas,Rick McCallum,motion picture,Attack of the Clones,2002
III,George Lucas,Rick McCallum,motion picture,Revenge of the Sith,2005
VII,J.J. Abrams,"J.J. Abrams, Bryan Burk, Kathleen Kennedy",motion picture,The Force Awakens,2015

## Vaders

In [5]:
darth_vader = { 'darth_vader_actor': ['Jake Lloyd','Hayden Christensen', 'N/A','Hayden Christensen','David Prowse','David Prowse','David Prowse'],
                'darth_vader_voice': ['Jake Lloyd','Hayden Christensen', 'Matt Lanter', 'Hayden Christensen','James Earl Jones','James Earl Jones','James Earl Jones'],
                'title': ['The Phantom Menace', 'Attack of the Clones', 'The Clone Wars', 'Revenge of the Sith', 'Star Wars', 'The Empire Strikes Back', 'Return of the Jedi']}
darth_vader_dataframe = pd.DataFrame(darth_vader, 
                                     columns=['darth_vader_actor', 'darth_vader_voice', 'title'])
darth_vader_dataframe

    darth_vader_actor   darth_vader_voice                    title
0          Jake Lloyd          Jake Lloyd       The Phantom Menace
1  Hayden Christensen  Hayden Christensen     Attack of the Clones
2                 N/A         Matt Lanter           The Clone Wars
3  Hayden Christensen  Hayden Christensen      Revenge of the Sith
4        David Prowse    James Earl Jones                Star Wars
5        David Prowse    James Earl Jones  The Empire Strikes Back
6        David Prowse    James Earl Jones       Return of the Jedi

<a name="Left and right joins"></a>
## Demo / Guided Practice: Joins (25 mins)

### Left Join 

The `LEFT JOIN` keyword returns all rows from the left table (table1), with the matching rows in the right table (table2). 

The result is `NULL` in the right side when there is no match.


#### in SQL

```
SELECT *
FROM star_wars_feature_films
LEFT JOIN darth_vader
ON title;
```

#### Visualized

<img src='assets/images/left_join.png' width=600px>

### Each Film and its Vader

Here we use `pd.merge` with `how=left` to perform a left join of `star_wars_feature_films_dataframe` and
`darth_vader_dataframe` on the feature `title`. 

This produces a complete set of records from `star_wars_feature_films_dataframe`, with the matching records (where available) in `darth_vader_dataframe`. 

If there is no match, the right side will contain `NaN`.

In [6]:
pd.merge(star_wars_feature_films_dataframe, darth_vader_dataframe, on='title', how='left')

,director,producers,style,title,year,darth_vader_actor,darth_vader_voice
0,George Lucas,Gary Kurtz,motion picture,Star Wars,1977,David Prowse,James Earl Jones
1,Irvin Kershner,Gary Kurtz,motion picture,The Empire Strikes Back,1980,David Prowse,James Earl Jones
2,Richard Marquand,Howard Kazanjian,motion picture,Return of the Jedi,1983,David Prowse,James Earl Jones
3,George Lucas,Rick McCallum,motion picture,The Phantom Menace,1999,Jake Lloyd,Jake Lloyd
4,George Lucas,Rick McCallum,motion picture,Attack of the Clones,2002,Hayden Christensen,Hayden Christensen
5,George Lucas,Rick McCallum,motion picture,Revenge of the Sith,2005,Hayden Christensen,Hayden Christensen
6,J.J. Abrams,"J.J. Abrams, Bryan Burk, Kathleen Kennedy",motion picture,The Force Awakens,2015,NaN,NaN

### Right Join

The RIGHT JOIN keyword returns all rows from the right table (table2), with the matching rows in the left table (table1). 

The result is NULL in the left side when there is no match.

#### in SQL

```
SELECT *
FROM star_wars_feature_films
RIGHT JOIN darth_vader
ON title;
```

#### Visualized

<img src='assets/images/right_join.png' width=600px>

### Each Vader and its Film

Here we use `pd.merge` with `how=right` to perform a right join of `star_wars_feature_films_dataframe` and
`darth_vader_dataframe` on the feature `title`. 

This produces a set of records from `star_wars_feature_films_dataframe`, for each record in `darth_vader_dataframe`. 

If there is no match, the left side will contain `NaN`.

In [7]:
pd.merge(star_wars_feature_films_dataframe, darth_vader_dataframe, on='title', how='right')

,director,producers,style,title,year,darth_vader_actor,darth_vader_voice
0,George Lucas,Gary Kurtz,motion picture,Star Wars,1977.0,David Prowse,James Earl Jones
1,Irvin Kershner,Gary Kurtz,motion picture,The Empire Strikes Back,1980.0,David Prowse,James Earl Jones
2,Richard Marquand,Howard Kazanjian,motion picture,Return of the Jedi,1983.0,David Prowse,James Earl Jones
3,George Lucas,Rick McCallum,motion picture,The Phantom Menace,1999.0,Jake Lloyd,Jake Lloyd
4,George Lucas,Rick McCallum,motion picture,Attack of the Clones,2002.0,Hayden Christensen,Hayden Christensen
5,George Lucas,Rick McCallum,motion picture,Revenge of the Sith,2005.0,Hayden Christensen,Hayden Christensen
6,NaN,NaN,NaN,The Clone Wars,NaN,N/A,Matt Lanter

<a name="Outer and inner joins"></a>
## Demo / Guided Practice: Outer and inner joins (25 mins)

### Inner Join 

The `INNER JOIN` keyword selects all rows from both tables as long as there is a match between the columns in both tables.


#### in SQL

```
SELECT *
FROM star_wars_feature_films
INNER JOIN darth_vader
ON title;
```

#### Visualized

<img src='assets/images/inner_join.png' width=600px>

### Films With Vader

Here we use `pd.merge` with `how=inner` to perform an inner join of `star_wars_feature_films_dataframe` and
`darth_vader_dataframe` on the feature `title`. 

This produces a set of records where there is a match for both `star_wars_feature_films_dataframe` and `darth_vader_dataframe`.

In [8]:
pd.merge(star_wars_feature_films_dataframe, darth_vader_dataframe, on='title', how='inner')

,director,producers,style,title,year,darth_vader_actor,darth_vader_voice
0,George Lucas,Gary Kurtz,motion picture,Star Wars,1977,David Prowse,James Earl Jones
1,Irvin Kershner,Gary Kurtz,motion picture,The Empire Strikes Back,1980,David Prowse,James Earl Jones
2,Richard Marquand,Howard Kazanjian,motion picture,Return of the Jedi,1983,David Prowse,James Earl Jones
3,George Lucas,Rick McCallum,motion picture,The Phantom Menace,1999,Jake Lloyd,Jake Lloyd
4,George Lucas,Rick McCallum,motion picture,Attack of the Clones,2002,Hayden Christensen,Hayden Christensen
5,George Lucas,Rick McCallum,motion picture,Revenge of the Sith,2005,Hayden Christensen,Hayden Christensen

### Inner Join 

The `OUTER JOIN` keyword selects all rows from both tables.

The result will be `NULL` where there is no match.

#### in SQL

```
SELECT *
FROM star_wars_feature_films
OUTER JOIN darth_vader
ON title;
```

#### Visualized

<img src='assets/images/outer_join.png' width=600px>

### Everything

Here we use `pd.merge` with `how=outer` to perform an outer join of `star_wars_feature_films_dataframe` and
`darth_vader_dataframe` on the feature `title`. 

This produces a set of records for every record in both `star_wars_feature_films_dataframe` and `darth_vader_dataframe`. 

If there is no match `NaN` will be used.

In [9]:
pd.merge(star_wars_feature_films_dataframe, darth_vader_dataframe, on='title', how='outer')

,director,producers,style,title,year,darth_vader_actor,darth_vader_voice
0,George Lucas,Gary Kurtz,motion picture,Star Wars,1977.0,David Prowse,James Earl Jones
1,Irvin Kershner,Gary Kurtz,motion picture,The Empire Strikes Back,1980.0,David Prowse,James Earl Jones
2,Richard Marquand,Howard Kazanjian,motion picture,Return of the Jedi,1983.0,David Prowse,James Earl Jones
3,George Lucas,Rick McCallum,motion picture,The Phantom Menace,1999.0,Jake Lloyd,Jake Lloyd
4,George Lucas,Rick McCallum,motion picture,Attack of the Clones,2002.0,Hayden Christensen,Hayden Christensen
5,George Lucas,Rick McCallum,motion picture,Revenge of the Sith,2005.0,Hayden Christensen,Hayden Christensen
6,J.J. Abrams,"J.J. Abrams, Bryan Burk, Kathleen Kennedy",motion picture,The Force Awakens,2015.0,NaN,NaN
7,NaN,NaN,NaN,The Clone Wars,NaN,N/A,Matt Lanter

<a name="ind-practice"></a>
## Independent Practice: Topic (20 minutes)

Practice using joins to clean up this data.

Use this data to create a `state_government` `DataFrame`.

In [27]:
gov = pd.DataFrame()

In [145]:
capitals = pd.DataFrame.from_dict({'Ca': 'Sacramento',
            'Az': 'Phoenix',
            'Nv': 'Carson City',
            'Ut': 'Salt Lake City',
            'Wa': 'Olympia',
            'Or': 'Salem'
           }, orient='index' )
    
governors = pd.DataFrame.from_dict({'Ca': 'Jerry Brown',
             'Az': 'Doug Ducey',
             'Ut': 'Gary Herbert',
             'Or': 'Kate Brown',
             'Wa': 'Jay Inslee',
            }, orient='index')

In [135]:
capitals

  state            city
0    Wa         Olympia
1    Ut  Salt Lake City
2    Ca      Sacramento
3    Az         Phoenix
4    Or           Salem
5    Nv     Carson City

In [146]:
capitals.reset_index(inplace=True)
capitals.columns = ['state', 'city']
governors.reset_index(inplace=True)
governors.columns = ['state', 'governor']

Use this data to create a `state_trivia` `Dataframe`.

In [147]:
state_birds = pd.DataFrame.from_dict({'Nv' : 'Mountain bluebird',
               'Ut': 'California gull', 'Ca': 'California quail'}, orient='index')
state_birds.reset_index(inplace=True)
state_birds.columns = ['state', 'bird']

Use this data to create a `state_economic_data` `DataFrame`.

In [148]:
minimum_wages = pd.DataFrame.from_dict({'Ca': 10.00,
               'Az': 8.05,
               'Nv' : 8.25,
               'Wa': 9.47,
               'Or': 9.75,
              }, orient='index')
    
populations = pd.DataFrame.from_dict ({'Ut': 2.943,
               'Ca': 3914481 ,
               'Az': 6.731,
               'Nv' : 2.839,
               'Or': 3.97,
               'Wa': 7.062,
              }, orient='index')
minimum_wages.reset_index(inplace=True)
minimum_wages.columns = ['state', 'min_wage']
populations.reset_index(inplace=True)
populations.columns = ['state', 'population']

In [139]:
dataframes = [capitals, governors, state_birds, minimum_wages, populations]

In [140]:
# Perform a Left Join to match government and economic data
pd.merge(governors, minimum_wages, state_birds, on='state', how='outer')

TypeError: merge() got multiple values for keyword argument 'how'

In [112]:
# Performa a Right Join to match economic data and trivia
pd.merge(minimum_wages, state_birds, on='state', how='right')

  state  min_wage               bird
0    Ca     10.00   California quail
1    Nv      8.25  Mountain bluebird
2    Ut       NaN    California gull

In [149]:
# Perform an Inner Join to match all states with COMPLETE data
government = pd.merge(capitals, governors, on='state', how='outer')
economic = pd.merge(minimum_wages, populations, on='state', how='outer')

In [150]:
government

  state            city      governor
0    Wa         Olympia    Jay Inslee
1    Ut  Salt Lake City  Gary Herbert
2    Ca      Sacramento   Jerry Brown
3    Az         Phoenix    Doug Ducey
4    Or           Salem    Kate Brown
5    Nv     Carson City           NaN

In [151]:
pd.merge(government, economic, how='outer')

  state            city      governor  min_wage   population
0    Wa         Olympia    Jay Inslee      9.47        7.062
1    Ut  Salt Lake City  Gary Herbert       NaN        2.943
2    Ca      Sacramento   Jerry Brown     10.00  3914481.000
3    Az         Phoenix    Doug Ducey      8.05        6.731
4    Or           Salem    Kate Brown      9.75        3.970
5    Nv     Carson City           NaN      8.25        2.839

In [ ]:
# Perform an Outer Join to prepare a DataFrame for all data

<a name="conclusion"></a>
## Conclusion (5 mins)
Pair up and explain a left, a right, an inner, and an outer join to a partner.

In [134]:
government

  state            city      governor
0    Wa         Olympia    Jay Inslee
1    Ut  Salt Lake City  Gary Herbert
2    Ca      Sacramento   Jerry Brown
3    Az         Phoenix    Doug Ducey
4    Or           Salem    Kate Brown