In [1]:
from os import chdir; chdir('../') # make sure you only run this once

In [9]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline

#### Use Tab-Completion to find the data file on your system

In [10]:
Water_Use_Average_By_Zipcode_file_location = 'data/Water_Use_Average_By_Zipcode.csv'

#### Load the data file using `pd.read_csv`

**Hint**: It's in a directory called 'data'.

In [12]:
Water_Use_Average_By_Zipcode_dataframe = pd.read_csv(Water_Use_Average_By_Zipcode_file_location)

#### What is the `type`?

In [16]:
wa = Water_Use_Average_By_Zipcode_dataframe

#### Use the `.head()` function to examine the data

In [50]:
wa.head()

,FY 05/06,FY 06/07,FY 07/08,FY 08/09,FY 09/10,FY 10/11,FY 11/12,FY 12/13
0,32,36,34,32,27,26,36,16
1,18,19,17,14,13,13,13,12
2,62,66,58,65,55,52,44,36
3,31,35,32,31,26,26,27,24
4,47,52,50,49,41,41,44,26

#### Drop the `Location 1` Feature

We won't be working with the `Location 1` feature today. Let's `.drop` it.

Make sure to drop using `inplace=True`

Don't forget to specify the correct axis.

        +------------+---------+--------+
        |            |  A      |  B     |
        +------------+---------+---------
        |      0     | 0.626386| 1.52325|----axis=1----->
        +------------+---------+--------+
                        |         |
                        | axis=0  |
                        ↓         ↓

In [53]:
wa.drop('Location 1', axis=1, inplace=True)

ValueError: labels ['Location 1'] not contained in axis

#### Use `.columns` to confirm that it has been dropped

In [23]:
wa.columns

Index([u'FY 05/06', u'FY 06/07', u'FY 07/08', u'FY 08/09', u'FY 09/10',
       u'FY 10/11', u'FY 11/12', u'FY 12/13'],
      dtype='object')

#### Pull out a few `Series` object from the `Dataframe` by selecting them

**Hint**: it's like indexing a `value` from a dictionary using it's `key`.

In [25]:
FY_05_06_Series = wa['FY 05/06']

In [26]:
FY_05_06_Series = wa['FY 05/06']
FY_06_07_Series = wa['FY 06/07']
FY_07_08_Series = wa['FY 07/08']
FY_08_09_Series = wa['FY 08/09']

#### What is the type of `FY_05_06`?

In [30]:
type(FY_08_09_Series)

pandas.core.series.Series

#### Convert these series to lists and take just the first five values of each

In [34]:
FY_05_06_list_sample = FY_05_06_Series[0:6]
FY_06_07_list_sample = FY_06_07_Series[0:6]
FY_07_08_list_sample = FY_07_08_Series[0:6]
FY_08_09_list_sample = FY_08_09_Series[0:6]

#### Create a Dictionary of your sample data using the headers of your columns as keys

In [60]:
FY_05_06_list_sample

0    32
1    18
2    62
3    31
4    47
5    23
Name: FY 05/06, dtype: int64

In [58]:
Water_Use_Average_By_Zipcode_dict_sample = {'FY_05_06_list_sample': FY_05_06_Series[:]
    
}

In [59]:
print(Water_Use_Average_By_Zipcode_dict_sample)

{'FY_05_06_list_sample': 0       32
1       18
2       62
3       31
4       47
5       23
6       98
7       28
8      117
9       16
10      28
11      48
12      24
13      37
14      26
15      19
16      44
17      25
18      62
19      31
20      20
21      16
22      29
23      21
24      28
25      32
26      15
27      32
28      18
29      48
      ...
89      59
90      70
91      56
92      20
93      35
94      45
95      49
96      30
97      49
98      23
99      39
100     33
101     25
102     26
103     76
104     34
105     74
106     27
107     32
108     42
109     30
110     34
111     35
112     42
113     18
114     21
115     27
116     29
117     31
118     37
Name: FY 05/06, dtype: int64}

#### Describe the Pandas `Dataframe` type using pure Python data types

#### Use `.describe` to examine the data set

#### Use `.mean()` to look at just the means

### `sns.stripplot` is used to plot categorical data

Use this function to plot the means of each year. 

**Hint:** Treat the headers of your columns as categorical data. Is there a function you can use to pull a list of these values?

In [ ]:
fig = plt.figure(figsize=(20,6))
stripplot_1 = sns.stripplot(x=, y=)

### Working with the Transposed Dataframe

#### Use `.T` to create the transpose of your dataframe

In [ ]:
Water_Use_Average_By_Zipcode_transposed_dataframe =

#### Display the dataframe

In [ ]:
Water_Use_Average_By_Zipcode_transposed_dataframe

#### What happened to the years?

#### Create a new column called 'Year' and assign the values of the index to this column

#### Use `.reset_index` to reset the indices of your list

Make sure to start the index at 0 using `level=0`.

Make sure to use `inplace=True` to make the change in place.

Make sure to use `drop=True` to drop the old index column.

#### Display the new Transposed Dataframe

It should look like this:

<img src='assets/images/transposed_data.png' width=500px>

#### Import `stripplot_by_year` from `lib.helpers`

Use this function to create a categorical `stripplot` for each year's data.

In [ ]:
from lib.helpers import stripplot_by_year

In [ ]:
stripplot_by_year()

## Analysis

Based upon the plots you prepared, make a conjecture about water usage in Los Angeles.