# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) Regularization and Cross-Validation Lab
Week 3 | Lesson 2.4

### LEARNING OBJECTIVES
*After this lesson, you will be able to:*
- Use Cross-Validation to validate a Regression Model

![](assets/the_sweet_spot.png)

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline
from sklearn.model_selection import train_test_split

## Prepare the Breast-Cancer Dataset for Processing

In [83]:
col_names = ['Sample code number','Clump Thickness','Uniformity of Cell Size','Uniformity of Cell Shape','Marginal Adhesion','Single Epithelial Cell Size','Bare Nuclei','Bland Chromatin','Normal Nucleoli','Mitoses','Class']

In [84]:
data = pd.read_csv('/Users/toddmoffett1/DSI/dsi_repo/DSI_SM_3/data/breast-cancer-wisconsin.data.csv',names=col_names, )

In [85]:
data.head(20)

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
5,1017122,8,10,10,8,7,10,9,7,1,4
6,1018099,1,1,1,1,2,10,3,1,1,2
7,1018561,2,1,2,1,2,1,3,1,1,2
8,1033078,2,1,1,1,2,1,1,1,5,2
9,1033078,4,2,1,1,2,1,2,1,1,2
10,1035283,1,1,1,1,1,1,3,1,1,2
11,1036172,2,1,1,1,2,1,2,1,1,2
12,1041801,5,3,3,3,2,3,4,4,1,4
13,1043999,1,1,1,1,2,3,3,1,1,2
14,1044572,8,7,5,10,7,9,5,5,4,4
15,1047630,7,4,6,4,6,1,4,3,1,4
16,1048672,4,1,1,1,2,1,2,1,1,2
17,1049815,4,1,1,1,2,1,3,1,1,2
18,1050670,10,7,7,6,4,10,4,1,2,4
19,1050718,6,1,1,1,2,1,3,1,1,2

## Create a Scorer with your preferred Metric

In [18]:
from sklearn.metrics import make_scorer, r2_score
RSQUARED = make_scorer(r2_score)

## Convert the Breast Cancer Dataset into a Feature Matrix and Target Vector

In [86]:
target = data['Class']

In [87]:
features = data.drop('Class', axis=1)

In [92]:
features.head(5)

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
0,1000025,5,1,1,1,2,1,3,1,1
1,1002945,5,4,4,5,7,10,3,2,1
2,1015425,3,1,1,1,2,2,3,1,1
3,1016277,6,8,8,1,3,4,3,7,1
4,1017023,4,1,1,3,2,1,3,1,1

In [60]:
features['Bland Chromatin'].unique()

array(['1', '10', '2', '4', '3', '9', '7', nan, '5', '8', '6'], dtype=object)

In [89]:
features.replace('?', np.nan, inplace=True)

In [90]:
features.dropna(axis=0, inplace=True)

## Prepare Cross-Validation Scores for a Lasso

## Prepare a list of alphas and Prepare a Plot of Cross-Validation Scores for this list using a Ridge Regression

## Prepare a list of alphas and Prepare a Plot of Cross-Validation Scores for this list using a Lasso

## Perform a Grid Search Cross-Validation over a set of alphas and l1_ratios for an Elastic Net

## Prepare a `pcolormesh` of the results of your `GridSearchCV`