### Phone Data Pandas Groupby and Aggregation Practice

In [1]:
import pandas as pd
import dateutil
data = pd.DataFrame.from_csv('phone_data.csv')

In [2]:
data.head(3)

                 date  duration  item    month   network network_type
index
0      15/10/14 06:58    34.429  data  2014-11      data         data
1      15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2      15/10/14 14:46    23.000  call  2014-11    Meteor       mobile

In [3]:
data['date'] = data['date'].apply(dateutil.parser.parse, dayfirst=True)

In [4]:
data.head()

                     date  duration  item    month   network network_type
index
0     2014-10-15 06:58:00    34.429  data  2014-11      data         data
1     2014-10-15 06:58:00    13.000  call  2014-11  Vodafone       mobile
2     2014-10-15 14:46:00    23.000  call  2014-11    Meteor       mobile
3     2014-10-15 14:48:00     4.000  call  2014-11     Tesco       mobile
4     2014-10-15 17:27:00     4.000  call  2014-11     Tesco       mobile

### What is the average duration of call per network?

network
Meteor       133.333333
Tesco        194.760563
Three        284.875000
Vodafone     221.530303
landline     438.880952
voicemail     65.740741
Name: duration, dtype: float64

In [20]:
# average duration of call per network

                  duration
                      mean
network   item
Meteor    call  133.333333
          sms     1.000000
Tesco     call  194.760563
          sms     1.000000
Three     call  284.875000
          sms     1.000000
Vodafone  call  221.530303
          sms     1.000000
data      data   34.429000
landline  call  438.880952
special   sms     1.000000
voicemail call   65.740741
world     sms     1.000000

In [15]:
# What was the longest call/data entry made?

# What was the longest phone call / data entry?

2.9244444444444446

### How many seconds of phone calls are recorded in total?

In [32]:
# seconds of phone calls are recorded in total

92321.0

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 830 entries, 0 to 829
Data columns (total 6 columns):
date            830 non-null datetime64[ns]
duration        830 non-null float64
item            830 non-null object
month           830 non-null object
network         830 non-null object
network_type    830 non-null object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 45.4+ KB

In [35]:
# How many entries are there for each month?

2014-11    230
2015-01    205
2014-12    157
2015-02    137
2015-03    101
Name: month, dtype: int64

In [ ]:
# Get the first entry for each month