In [1]:
# import modules

import pandas as pd
import numpy as np

In [2]:
# create a dataframe

data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}

df = pd.DataFrame(data, columns = 
                  ['name', 'age', 'preTestScore', 'postTestScore'])
df

    name  age  preTestScore  postTestScore
0  Jason   42             4             25
1  Molly   52            24             94
2   Tina   36            31             57
3   Jake   24             2             62
4    Amy   73             3             70

In [24]:
# select the preTestScore column

preTestScore = df['preTestScore']
preTestScore

0     4
1    24
2    31
3     2
4     3
Name: preTestScore, dtype: int64

In [25]:
# find the standard deviation of preTestScore 

print preTestScore.std() # pandas uses the sample standard deviation
print np.std(preTestScore, ddof=1) # numpy uses the population standard deviation with ddof=0 as default
preTestScore

13.6638208419
13.6638208419

0     4
1    24
2    31
3     2
4     3
Name: preTestScore, dtype: int64

In [26]:
# select rows in preTestScore with scores greater than the mean
# find the mean of preTestScore

mean = preTestScore.mean()
print np.mean(preTestScore)
print mean

12.8
12.8

In [27]:
# select the rows in preTestScore with scores greater than the mean

greaterThanMean = preTestScore[preTestScore > mean]
greaterThanMean

1    24
2    31
Name: preTestScore, dtype: int64

In [28]:
# create a new column that shows the score change from 
# preTestScore to postTestScore

postTestScore = df['postTestScore']

difPrePost = df['difPrePost'] = postTestScore - preTestScore
df

    name  age  preTestScore  postTestScore  difPrePost
0  Jason   42             4             25          21
1  Molly   52            24             94          70
2   Tina   36            31             57          26
3   Jake   24             2             62          60
4    Amy   73             3             70          67