In [1]:
# import modules

import pandas as pd
import numpy as np

In [2]:
# create a dataframe
col_names =  ['name', 'age', 'preTestScore', 'postTestScore']
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, columns = col_names)
df

    name  age  preTestScore  postTestScore
0  Jason   42             4             25
1  Molly   52            24             94
2   Tina   36            31             57
3   Jake   24             2             62
4    Amy   73             3             70

In [28]:
# select the preTestScore column
pre_test_score = df['preTestScore']

In [5]:
# find the standard deviation of preTestScore 
np.std(df['preTestScore'])

12.221292893961751

In [9]:
# select rows in preTestScore with scores greater than the mean
# find the mean of preTestScore
pre_test_mean = np.mean(df['preTestScore'])

In [13]:
# select the rows in preTestScore with scores greater than the mean
higher_avg = pre_test_score[pre_test_score > pre_test_mean]
higher_avg

   preTestScore
0           NaN
1          24.0
2          31.0
3           NaN
4           NaN

In [24]:
postTestScore = df['postTestScore']

In [29]:
# create a new column that shows the score change from 
# preTestScore to postTestScore
scores = df['score change'] = postTestScore - pre_test_score

In [30]:
df

    name  age  preTestScore  postTestScore  score change
0  Jason   42             4             25            21
1  Molly   52            24             94            70
2   Tina   36            31             57            26
3   Jake   24             2             62            60
4    Amy   73             3             70            67

In [38]:
df.columns.