In [1]:
import pandas as pd
import numpy as np

In [3]:
# create a series using a numpy random number generator

s = pd.Series(np.random.randn(7), index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])  
s

a   -0.936015
b   -1.047855
c   -1.654720
d    0.357891
e    0.164694
f    0.889607
g    0.166124
dtype: float64

In [4]:
# head of series

pd.Series.head(s)

a   -0.936015
b   -1.047855
c   -1.654720
d    0.357891
e    0.164694
dtype: float64

In [36]:
# tail of series

pd.Series.tail(s)

c    0.815262
d    0.506705
e    0.072054
f   -0.515751
g   -0.191931
dtype: float64

In [5]:
# summary stats

pd.Series.describe(s)

count    7.000000
mean    -0.294325
std      0.920148
min     -1.654720
25%     -0.991935
50%      0.164694
75%      0.262007
max      0.889607
dtype: float64

In [6]:
# select by location c to g

s.loc['c':]

c   -1.654720
d    0.357891
e    0.164694
f    0.889607
g    0.166124
dtype: float64

In [7]:
# select just b

s.loc['b']

-1.0478545708606961

In [9]:
# slice for rows 1-3

s[1:3]

b   -1.047855
c   -1.654720
dtype: float64

### Boolean indexing

In [11]:
# create another series ranging from -3 to 3

s = pd.Series(range(-3, 4))
s

0   -3
1   -2
2   -1
3    0
4    1
5    2
6    3
dtype: int64

In [46]:
# find the values that are > 0. 

s[s > 0]

4    1
5    2
6    3
dtype: int64

In [47]:
# find the values that are < -1 or > 0.5

s[(s < -1) | (s > 0.5)]

0   -3
1   -2
4    1
5    2
6    3
dtype: int64

In [50]:
# find the values that are not < 0.

s[~(s < 0)]

3    0
4    1
5    2
6    3
dtype: int64

In [51]:
# find the values that are < 2

s[s < 2]

0   -3
1   -2
2   -1
3    0
4    1
dtype: int64