In [46]:
# import modules

import pandas as pd
import numpy as np

In [47]:
# create a dataframe

data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, columns = 
                  ['name', 'age', 'preTestScore', 'postTestScore'])
df

    name  age  preTestScore  postTestScore
0  Jason   42             4             25
1  Molly   52            24             94
2   Tina   36            31             57
3   Jake   24             2             62
4    Amy   73             3             70

In [61]:
# select the preTestScore column
df[['preTestScore']]

   preTestScore
0             4
1            24
2            31
3             2
4             3

In [90]:
# find the standard deviation of preTestScore 
print np.std(df['preTestScore']) # pandas uses sample for std
print preTestScore.std() # python uses population for std (use ddof=0 to change)
print preTestScore.std(ddof=0)

12.221292894
13.6638208419
12.221292894

In [66]:
preTestMean = np.mean(df['preTestScore'])

In [68]:
preTestMean

12.8

In [72]:
# select rows in preTestScore with scores greater than the mean
# find the mean of preTestScore
df[df['preTestScore_mean'] > np.mean(df['preTestScore'])]

Empty DataFrame
Columns: [name, age, preTestScore, postTestScore, preTestScore_mean]
Index: []

In [57]:
df

    name  age  preTestScore  postTestScore  preTestScore_mean
0  Jason   42             4             25               12.8
1  Molly   52            24             94               12.8
2   Tina   36            31             57               12.8
3   Jake   24             2             62               12.8
4    Amy   73             3             70               12.8

In [75]:
df[df['preTestScore'] > df['preTestScore_mean']]

    name  age  preTestScore  postTestScore  preTestScore_mean
1  Molly   52            24             94               12.8
2   Tina   36            31             57               12.8

In [6]:
# select the rows in preTestScore with scores greater than the mean

In [83]:
postTestScore = df['postTestScore']
preTestScore = df['preTestScore']

In [84]:
# create a new column that shows the score change from 
# preTestScore to postTestScore
df['difPrePost'] = postTestScore - preTestScore

In [100]:
df.drop('score change', axis=1, inplace=True)

In [101]:
df

    name  age  preTestScore  postTestScore  preTestScore_mean  difPrePost
0  Jason   42             4             25               12.8          21
1  Molly   52            24             94               12.8          70
2   Tina   36            31             57               12.8          26
3   Jake   24             2             62               12.8          60
4    Amy   73             3             70               12.8          67