### Phone Data Pandas Groupby and Aggregation Practice

In [1]:
import pandas as pd
import dateutil
data = pd.DataFrame.from_csv('phone_data.csv')

In [7]:
data.head(5)

                     date  duration  item    month   network network_type
index
0     2014-10-15 06:58:00    34.429  data  2014-11      data         data
1     2014-10-15 06:58:00    13.000  call  2014-11  Vodafone       mobile
2     2014-10-15 14:46:00    23.000  call  2014-11    Meteor       mobile
3     2014-10-15 14:48:00     4.000  call  2014-11     Tesco       mobile
4     2014-10-15 17:27:00     4.000  call  2014-11     Tesco       mobile

In [5]:
data['date'] = data['date'].apply(dateutil.parser.parse, dayfirst=True)

In [6]:
data.head()

                     date  duration  item    month   network network_type
index
0     2014-10-15 06:58:00    34.429  data  2014-11      data         data
1     2014-10-15 06:58:00    13.000  call  2014-11  Vodafone       mobile
2     2014-10-15 14:46:00    23.000  call  2014-11    Meteor       mobile
3     2014-10-15 14:48:00     4.000  call  2014-11     Tesco       mobile
4     2014-10-15 17:27:00     4.000  call  2014-11     Tesco       mobile

### What is the average duration of call per network?

In [5]:
# average duration of call per network

### How many seconds of phone calls are recorded in total?

In [6]:
# seconds of phone calls are recorded in total