In [217]:
pwd

u'/Users/toddmoffett1/DSI/dsi_workspace/curriculum/week-02/data'

In [119]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('/Users/toddmoffett1/DSI/dsi_workspace/curriculum/week-02/data/la_econ_data.csv')

In [18]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [32]:
# this function can be applied to any series to evaluate float errors
def try_to_float(value):
    try: 
        value = float(value)
    except ValueError:
        print(value)
    return value

In [101]:
# diagnose the problem usable on other series
df['x_bar_temp'].apply(try_to_float)

.
.

0       43940
1       42888
2       38369
3       60028
4       48203
5       38446
6       32705
7       50167
8       80279
9       38950
10      45188
11      34366
12      30121
13      42246
14      46873
15      33002
16      44495
17      59812
18      55319
19      31557
20      46679
21      40999
22      88018
23      90083
24      58308
25      74831
26      45197
27      46943
28      50790
29      55811
        ...
889     65743
890     50392
891     47653
892     58587
893     41015
894    126297
895     68481
896     51143
897     71225
898     83919
899    136352
900    133433
901    121444
902    124260
903     18827
904     77648
905     65378
906     63866
907     80030
908     63466
909     80030
910     55069
911     85654
912     76671
913     89674
914    174736
915     64183
916     64154
917     38998
918     77451
Name: x_bar_temp, dtype: object

In [76]:
df['zip_temp'] = (df['zip'].str.replace('(\d\d\d\d) \? \?','9\\1'))

In [43]:
df['temp'] = df['temp'].str.replace('foo','').astype(float)

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [81]:
df['zip'] = df['zip_temp']

In [150]:
df.head()

,zip,x_bar,pop,frequency distribution midpoint,x_bar_temp
0,90001,quatreSAN (SAN**zwei)quatreZERO,57110.0,"thirty-four thousand, three hundred and fifty",NaN
1,90002,quatrezwei ochoochoocho,51223.0,thirty-five thousand and twenty,NaN
2,90003,SANocho SAN(SAN*zwei)(SAN**zwei),66266.0,"thirty thousand, nine hundred and twelve",NaN
3,90004,(SAN*zwei)ZERO ZEROzweiocho,62180.0,"forty thousand, three hundred and fifty-eight",NaN
4,90005,quatreocho zweiZEROSAN,37681.0,thirty-six thousand and fifty-eight,NaN

In [84]:
df.drop('zip_temp', axis=1, inplace=True)

In [151]:
df['x_bar_temp'] = df['x_bar']

In [90]:
df.drop('x_bar_temp', axis=1, inplace=True)

In [80]:
df['frequency distribution midpoint'].count()

919

In [153]:
df['x_bar_temp'] = df['x_bar_temp'].str.replace('ZERO', '0' )
df['x_bar_temp'] = df['x_bar_temp'].str.replace('ocho', '8' )
df['x_bar_temp'] = df['x_bar_temp'].str.replace('zwei', '2' )
df['x_bar_temp'] = df['x_bar_temp'].str.replace('quatre', '4' )
df['x_bar_temp'] = df['x_bar_temp'].str.replace('SAN', '3' )
df['x_bar_temp'] = df['x_bar_temp'].str.replace('ZEVEN', '7' )
df['x_bar_temp'] = df['x_bar_temp'].str.replace('V', '5' )
df['x_bar_temp'] = df['x_bar_temp'].str.replace('I', '1' )
df['x_bar_temp'] = df['x_bar_temp'].str.replace('\(3\*2\)', '6' )
df['x_bar_temp'] = df['x_bar_temp'].str.replace('\(3\*\*2\)', '9' )

In [154]:
df['x_bar_temp'] = df['x_bar_temp'].str.replace(' ','')

In [189]:
df.head(20)

,zip,x_bar,pop,median,median_temp
0,90001,43940,57110.0,"thirty-four thousand, three hundred and fifty","thirty-four thousand, three hundred and fifty"
1,90002,42888,51223.0,thirty-five thousand and twenty,thirty-five thousand and twenty
2,90003,38369,66266.0,"thirty thousand, nine hundred and twelve","thirty thousand, nine hundred and twelve"
3,90004,60028,62180.0,"forty thousand, three hundred and fifty-eight","forty thousand, three hundred and fifty-eight"
4,90005,48203,37681.0,thirty-six thousand and fifty-eight,thirty-six thousand and fifty-eight
5,90006,38446,59185.0,"twenty-nine thousand, nine hundred and thirty-...","twenty-nine thousand, nine hundred and thirty-..."
6,90007,32705,40920.0,"twenty-one thousand, one hundred and ninety-five","twenty-one thousand, one hundred and ninety-five"
7,90008,50167,32327.0,"forty thousand, nine hundred and seventy-three","forty thousand, nine hundred and seventy-three"
8,90010,80279,3800.0,"fifty-one thousand, nine hundred and ninety-nine","fifty-one thousand, nine hundred and ninety-nine"
9,90011,38950,103892.0,"twenty-nine thousand, nine hundred and sixty-nine","twenty-nine thousand, nine hundred and sixty-nine"
10,90012,45188,27522.0,"thirty-nine thousand, seven hundred and sevent...","thirty-nine thousand, seven hundred and sevent..."
11,90013,34366,11772.0,"seventeen thousand, six hundred and twenty-eight","seventeen thousand, six hundred and twenty-eight"
12,90014,30121,7005.0,"thirteen thousand, eight hundred and thirty-two","thirteen thousand, eight hundred and thirty-two"
13,90015,42246,18986.0,"twenty-four thousand, seven hundred and sixty-two","twenty-four thousand, seven hundred and sixty-two"
14,90016,46873,47596.0,"thirty-seven thousand, two hundred and twenty-...","thirty-seven thousand, two hundred and twenty-..."
15,90017,33002,23768.0,"twenty thousand, nine hundred and fifty-six","twenty thousand, nine hundred and fifty-six"
16,90018,44495,49310.0,"thirty-three thousand, one hundred and thirty-...","thirty-three thousand, one hundred and thirty-..."
17,90019,59812,64458.0,"forty-two thousand, six hundred and fifteen","forty-two thousand, six hundred and fifteen"
18,90020,55319,38967.0,"thirty-nine thousand, eight hundred and forty-six","thirty-nine thousand, eight hundred and forty-six"
19,90021,31557,3951.0,twenty-one thousand and eighty-four,twenty-one thousand and eighty-four

In [162]:
df[df['x_bar_temp'] == '.']

Empty DataFrame
Columns: [zip, x_bar, pop, frequency distribution midpoint, x_bar_temp]
Index: []

In [109]:
df['x_bar_temp'] = df['x_bar_temp'].str.replace('-9999999', '0')

In [111]:
df['x_bar_temp'] = df['x_bar_temp'].astype(float)

In [158]:
df['x_bar_temp'].iloc[396] = np.nan
df['x_bar_temp'].iloc[61] = np.nan

In [169]:
df[df['x_bar_temp'].isnull()]

,zip,x_bar,pop,frequency distribution midpoint,x_bar_temp
61,90073,.,539.0,"two thousand, four hundred and ninety-nine",NaN
396,92135,.,571.0,"one hundred and twenty-seven thousand, six hun...",NaN

In [170]:
df['x_bar_temp'] = df['x_bar_temp'].dropna()

In [173]:
df['x_bar'] = df['x_bar_temp']

In [177]:
df.drop('x_bar_temp', axis=1, inplace=True)

In [180]:
df.columns

Index([u'zip', u'x_bar', u'pop', u'frequency distribution midpoint'], dtype='object')

In [181]:
df['median'] = df['frequency distribution midpoint']

In [186]:
df.drop('frequency distribution midpoint', axis=1, inplace=True)

In [188]:
df['median_temp'] = df['median']

In [192]:
df['median_tmp'] = (df['median'].str.replace('and', ''))
df['median_tmp'] = (df['median_tmp'].str.replace(',', ''))
df['median_thousands'] = (df['median_tmp'].str.extract('(.+) thous', expand=False))
df['median_ones'] = (df['median_tmp'].str.extract('thous (.+)', expand=False))

In [215]:
df.head()

     zip      pop   mean
0  90001  57110.0  43940
1  90002  51223.0  42888
2  90003  66266.0  38369
3  90004  62180.0  60028
4  90005  37681.0  48203

In [199]:
df.columns

Index([u'zip', u'x_bar', u'pop', u'median', u'median_temp', u'median_tmp',
       u'median_thousands', u'median_ones'],
      dtype='object')

In [212]:
df['mean'] = df['x_bar']

In [214]:
df.drop('x_bar', axis=1, inplace=True)

In [216]:
ls

Water_Use_Average_By_Zipcode.csv  lenses.csv
balloons.csv                      lusitania.csv
billboard.csv                     shuttle_control.csv
birmingham_streets.csv            titanic.csv
iris.csv                          weather_2012.csv
la_econ_data.csv

In [ ]:
df_water = pd.read_csv()